.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-top: 0;
    list-style: none;
    font-weight: 500;
    font-size: .7rem;
 
    &-item {
        text-transform: uppercase;
        &::before {
            content: '/';
            margin: 0 10px;
        }

        &:first-of-type {
            &::before {
                content: '';
                margin: 0;
            }
        }
    }

}