input[type=text] {
    border: 1px solid #acacac;
    border-radius: 3px;
    background: transparent;
    padding: 7px;
    font-size: 0.9rem;

    outline: none;


    &[name="q"] {
       border: none;
    }
}

