input,
textarea,
select {

    --box-shadow-color: #00000033;
    --box-shadow-size: 1px;

    outline: none;
    border-radius: 3px;
    border-color: transparent; 
    box-shadow: 0 0 0 var(--box-shadow-size) var(--box-shadow-color);
    padding: 5px;
    font-size: 0.9rem;

    &:focus {
        --box-shadow-color: #0097d3;
        --box-shadow-size: 2px;
    }

    &[name=q] {
       border: none;
    }

    resize: vertical;
}

// select {

//     option {
//         text-transform: uppercase !important;
//     }
// }

