.notification {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    position: fixed;
    // top: 25px;
    top: 100px;
    right: 0;
    padding: 10px;
    z-index: 2;

    min-width: 240px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);

    cursor: pointer;
    
    &--info {
        @include notification-backgorund-color(#10648c);
    }

    &--error {
        @include notification-backgorund-color(#dc143c);
    }

    &--succsess {
        @include notification-backgorund-color(#6dad18);
    }

    &__image {
        height: 24px;
        width: 24px;

        display: flex;
        align-items: center;
    }

    &__message {
        font-size: 0.9rem;
        font-weight: 500;
        color: $white;
    }
}