.post {

    &__content {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2c2f34;
        // margin-top: 10px;
        font-size: 15px;
        line-height: 26px;

        p {
            margin-top: 0;
        }
    }
}