.dashboard-view {
    width: 100%;
    max-width: 100%;

    .darshboard__content {
        width: 100%;
        background: $dashboard-background;
        display: flex;
        flex-direction: column;

        .view__body {
            width: 100%;
            flex: 1 0 0;  
            
            position: relative;
            
        }
    }

}