.posts {
    .posts-list {
        .post {
            display: flex;
            flex-direction: column;

            margin: 25px 0;

            border-bottom: 1px dotted rgba(0, 0, 0, 0.2);

            &:last-of-type {
                border-bottom: none;
            }

            .header {
                position: relative;

                width: 100%;
                height: 360px;

                &:hover {
                    .details-container {
                        .details {
                            .title {
                                text-decoration: underline;
                            }
                        }
                    }
                } 

                .hideSvgSoThatItSupportsFirefox {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }

                .image {
                    height: 100%;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: url("#sharpBlur");
                }

                .details-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                   

                    .details {

                        color: rgb(255, 255, 255);

                        width: 65%;
                        height: 50%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        text-align: center;
    
                        .title {
                            font-size: 1.6rem;
                        }

                        .author {
                            font-size: 1rem;
                        }

                        .date {
                            font-size: 0.6rem;
                        }
                    }
                }

                .category-name {
                    font-weight: 600;
                    font-size: .8rem;
                    color: #fff;
                    padding: 5px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 60px;
                    text-align: center;
                    background: rgb(255, 115, 1);
                }

                .views-counter {
                    font-weight: 600;
                    font-size: .7rem;
                    color: rgb(255, 255, 255);
                    padding: 5px;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    background: rgb(223, 19, 19);
                }
            }

            .preview {
                padding: 15px 0;
                font-size: 0.9rem;
            }

        }
    }
}