.posts {
    margin-bottom: 50px ;
    .posts-list {
        .post {
            display: flex;
            flex-direction: column;

            margin: 25px 0;
            
            border-bottom: 1px dotted rgba(0, 0, 0, 0.2);

            &:last-of-type {
                border-bottom: none;
            }

            &:first-of-type {
                margin-top: 0;
            }
            a {
                color: black;

                &:hover {
                    text-decoration: none;
                    color: $brand-color;
                }
            }
            .preview {
                // padding: 15px 0 5px 0;
                font-size: 0.725rem;
            }

            .reading-list-action {
                padding-bottom: 10px;
                text-align: right;
            }

        }
    }
}