.posts {
    margin-bottom: 50px ;
    .posts-list {
        .post {
            display: flex;
            flex-direction: column;

            margin: 25px 0;
            
            border-bottom: 1px dotted rgba(0, 0, 0, 0.2);

            &:last-of-type {
                border-bottom: none;
            }

            &:first-of-type {
                margin-top: 0;
            }

            .preview {
                padding: 15px 0;
                font-size: 0.9rem;
            }

        }
    }
}