.view { 
    flex: 1 1 auto;
    min-width: 900px;
    max-width: 1000px;
    width: 65%;
    display: flex;
    justify-content: flex-start;

    &__body {
        flex: 0 0 630px;
        // max-width: 630px;

        .title {

        }

        .content {
            padding: 15px; 
        }
    };


    &__side {
        flex: 0 0 200px;
        height: 100%;

        padding: 15px;
    
        .search-container {
            margin-top: 25px;
            position: relative;
            // padding: 10px;
            border-radius: 3px;
            // border: 1px solid #acacac;
    
            .search-form {
                display: flex;
                // align-items: center;
                justify-content: space-between;
                border: 1px solid #acacac;
                border-radius: 3px;
            }
        }

        h5 {
            margin: 10px 0;
        }

        .most-viewed {
            .list {
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    font-size: 0.9rem;

                    padding: 0 5px 10px 5px;
                    margin: 10px 0;

                    border-bottom: 1px dotted#00000033;

                    &:last-of-type {
                        border-bottom: 0;
                    }

                    // .title {
                    //     flex: 0 0 200px;
                    // }
                }
            }
        }

        .categories {
            .list {
                .item {
                    font-size: 0.9rem;
                    margin: 5px 0;
                }
            }
           
        }
        
    }   

   
}