body {
  align-items: flex-start;
}

header {
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
}
header .header__icon {
  padding: 7px 14px;
  border-left: 1px solid #c2c5cd;
}
header .header__icon:hover {
  cursor: pointer;
}
header .header__icon svg {
  fill: #989DAB;
}

.dashboard-view {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 100%;
}
.dashboard-view .darshboard__content {
  width: 100%;
  background: #EEF3F6;
}
.dashboard-view .darshboard__content .view__body {
  width: 100%;
  flex: auto;
}

.form-container-dashboard {
  width: 600px;
}

.dashboard-side-nav {
  flex: 0 0 200px;
  background: #333A4D;
}
.dashboard-side-nav .nav__header {
  height: 25px;
}
.dashboard-side-nav .nav__list .nav__item {
  border-top: 1px solid #272b38;
}
.dashboard-side-nav .nav__list .nav__item:last-of-type {
  border-bottom: 1px solid #272b38;
}
.dashboard-side-nav .nav__list .nav__item .nav__link {
  display: flex;
  align-items: center;
  color: #989DAB;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 15px;
  border-left: 2px solid transparent;
  font-weight: 500;
}
.dashboard-side-nav .nav__list .nav__item .nav__link:hover {
  background-color: #00ABD7;
  color: #ffff;
  text-decoration: none;
}
.dashboard-side-nav .nav__list .nav__item .nav__link:hover svg {
  fill: #ffff;
}
.dashboard-side-nav .nav__list .nav__item .nav__link svg {
  fill: #989DAB;
  margin-right: 15px;
}

.dashboard-card {
  background-color: #ffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.post-create {
  display: flex;
  align-items: flex-start;
}
.post-create .image-container {
  margin-left: 50px;
  height: 380px;
  width: 600px;
}
.post-create .image-container img {
  height: 100%;
  width: 100%;
}
